{% extends 'mysite/base.html'  %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 100px">
<div class="card-columns">
  <div class="card">
    <img src="{% static 'mysite/images/mystartup.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">My First Project</h5>
      <p class="card-text">This is my startup whose aim is to develope in various aspects for clients...</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
      
    <img src="{% static 'mysite/images/mygithub.png' %}" class="card-img-top" alt="...">
      
          
    <div class="card-body">
      <h5 class="card-title">My Project Platform</h5>
      <p class="card-text">This is my github account whose aim is to help people to develope anything easily..</p>
      <p class="card-text"><small class="text-muted">www.github.com/rajeshkumarkarra</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">My Universal Challenge Concept</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">www.kaggle.com/rajeshkumarkarra</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'mysite/images/mykaggle.png' %}" class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>This my Kaggle challenge concept whose aim to help people to develope anything challengingly.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">My Kaggle</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">www.kaggle.com/rajeshkumarkarra</small></p>
    </div>
  </div>
</div>
</div>

{% endblock %}